__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
build/
dist/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/
*.local
*.log
*.bak
*.swp
*.tmp
*.spec
*.iss
